$color: #b1f7e2;
$dark_color:  darken($color, 50);
html, body {
    font-family: "Roboto";
    margin: 0;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient($color, lighten($color, 10));
    height: 350px;

    h4 {
        color: $dark_color;
        font-weight: 300;
        font-size: 24px;
    }

    img {
        width: 100px;
        border: solid 2px $dark_color;
        border-radius: 50%;
        box-shadow: 2px 4px 10px darken($color, 10);
    }

    button {
        margin-top:15px;
        background-color: white;
        color: $dark_color;
        border: none;
        border-radius: 25px;
        padding: 20px 100px;
        box-shadow: 2px 4px 10px darken($color, 10);
        outline: none;
    }
}